html {
  overflow-x: hidden;
}

.logo {
  text-align: center;
}

#menu_icon {
  position: relative;
  left: 78pc;
  bottom: 6pc;
  text-decoration: none;
  background-color: #ffffff00;
  border: none;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -350px; /* Hide the sidebar by default */
  width: 350px;
  height: 100%;
  transition: right 0.3s ease;
  background-color: #dd7c40;
  z-index: 1;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  letter-spacing: 5px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000000;
}

.sidebar ul li a:hover {
  color: #352828;
}

#sidebar-close {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  background-color: #ffffff00;
  border: none;
  padding-top: 15px;
  padding-left: 15px;
}

.heading {
  font-size: 50px;
  text-align: center;
}

.heading1 {
  font-size: 50px;
  text-align: center;
  color: white;
}

p {
  font-size: 25px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}
